$main-font: 'Roboto', sans-serif;
$color-command-background: #F5F4FA;
$gray-color-p: #757575;
$color-blue: #2196F3;
$color-blue-hover: #188CE8;
$color-overlay-blue-90pr: rgba(33, 150, 243, 0.9);
$color-header-footer: #2F303A;
$color-header-footer-80p: rgba(47, 48, 58, 0.8);
$color-header-footer-40p: rgba(47, 48, 58, 0.4);
$color-ECECEC: #ECECEC;
$color-border-EEEEEE: #EEEEEE;
$icon-social: #afb1b8;
$color-black-21: #212121;
$color-black-212121-20pr: rgba(33, 33, 33, 0.2);
$color-black-000: #000000;
$color-black-10pr: rgba(0, 0, 0, 0.1);
$color-black-20pr: rgba(0, 0, 0, 0.2);
$color-white: #FFFFFF;
$color-white-10pr: rgba(255, 255, 255, 0.1);
$color-white-30pr: rgba(255, 255, 255, 0.3);
$color-white-60pr: rgba(255, 255, 255, 0.6);
$transition-cubic-bezier: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
$transform-cubic-bezier: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
$cubic-bezier: (0.4,0,0.2,1);